[submodule "nocterm"]
	path = nocterm
	url = https://github.com/marsup-space/nocterm.git
[submodule "textmate_highlight"]
	path = textmate_highlight
	url = https://github.com/marsup-space/textmate_highlight.git
[submodule "dart-jieba"]
	path = dart-jieba
	url = https://github.com/marsup-space/dart-jieba.git
[submodule "semble-dart"]
	path = semble-dart
	url = https://github.com/marsup-space/semble-dart.git
