[submodule "nocterm"]
	path = nocterm
	url = git@github.com:marsup-space/nocterm.git
[submodule "textmate_highlight"]
	path = textmate_highlight
	url = git@github.com:marsup-space/textmate_highlight.git
[submodule "dart-jieba"]
	path = dart-jieba
	url = git@github.com:marsup-space/dart-jieba.git
